# SPDX-License-Identifier: GPL-2.0-only
config PHY_TH1520_USB
	tristate "USB PHY driver for T-Head TH1520 SoC"
	depends on ARCH_THEAD || COMPILE_TEST
	depends on COMMON_CLK
	depends on HAS_IOMEM
	depends on OF
	depends on RESET_CONTROLLER
	select GENERIC_PHY
	select REGMAP_MMIO
	help
	  Enable support for the USB PHY on the T-Head TH1520 SoC.
