// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/dts-v1/;

#include "a210-melonpi-common.dtsi"
#include <dt-bindings/usb/pd.h>

/ {
	model = "Melon Pi V2";
	compatible = "zhihe,a210-melonpi-v2", "zhihe,a210-som",
		     "zhihe,a210";

	/* GPIO0_30 enables the TPS259261 supply for the two-pin fan. */
	reg_fan: regulator-fan {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&fan_enable_pins>;
		regulator-name = "fan-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio0 30 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_m2_sata: regulator-m2-sata {
		compatible = "regulator-fixed";
		regulator-name = "m2-sata-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&aw9535_0 14 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <10000>;
	};

	reg_usb_c: regulator-usb-c {
		compatible = "regulator-fixed";
		regulator-name = "usb-c-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio0 27 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	pcie_osc: pcie-oscillator {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	pcie_clock_power: pcie-clock-power {
		compatible = "gpio-gate-clock";
		#clock-cells = <0>;
		clocks = <&pcie_osc>;
		enable-gpios = <&aw9535_1 13 GPIO_ACTIVE_HIGH>;
	};

	pcie_ref: pcie-reference-clock {
		compatible = "gpio-gate-clock";
		#clock-cells = <0>;
		clocks = <&pcie_clock_power>;
		enable-gpios = <&aw9535_0 12 GPIO_ACTIVE_HIGH>;
	};

	reg_pcie_eth: regulator-pcie-ethernet {
		compatible = "regulator-fixed";
		vin-supply = <&vdd_3v3>;
		regulator-name = "pcie-ethernet-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&aw9535_1 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <100000>;
	};

	reg_minipcie_3v3: regulator-minipcie-3v3 {
		compatible = "regulator-fixed";
		vin-supply = <&vdd_3v3>;
		regulator-name = "minipcie-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&aw9535_0 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <100000>;
	};

	reg_minipcie_1v5: regulator-minipcie-1v5 {
		compatible = "regulator-fixed";
		vin-supply = <&vdd_3v3>;
		regulator-name = "minipcie-1v5";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		gpio = <&aw9535_0 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <100000>;
	};
};

&e16phy {
	clocks = <&clk_pcie E16PHY_PCLK_EN>, <&pcie_ref>;
	clock-names = "apb", "ref";
	data-lanes = <1 2 3 4>;
	status = "okay";
};

&pcie0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie0_clkreq_pins>;
	num-lanes = <1>;
	reset-gpios = <&aw9535_1 0 GPIO_ACTIVE_LOW>;
	vpcie3v3-supply = <&reg_pcie_eth>;
	status = "okay";
};

&pcie1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie1_clkreq_pins>;
	reset-gpios = <&aw9535_0 15 GPIO_ACTIVE_LOW>;
	vpcie3v3-supply = <&reg_minipcie_3v3>;
	vpcie1v5-supply = <&reg_minipcie_1v5>;
	status = "okay";
};

&sata {
	ports-implemented = <1>;
	status = "okay";
};

&sata0 {
	target-supply = <&reg_m2_sata>;
};

&sata1 {
	status = "disabled";
};

&aw9535_0 {
	minipcie-wireless-enable-hog {
		gpio-hog;
		gpios = <8 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "minipcie-wireless-enable";
	};

	m2-sata-enable-hog {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "m2-sata-enable";
	};
};

&uart5 {
	uart-has-rtscts;
};

&peri1_padctrl {
	pcie0_clkreq_pins: pcie0-clkreq-0 {
		clkreq-pins {
			pins = "GPIO0_29";
			function = "pcie_x4";
			bias-disable;
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	pcie1_clkreq_pins: pcie1-clkreq-0 {
		clkreq-pins {
			pins = "GPIO0_25";
			function = "pcie_x1";
			bias-disable;
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};
};

&peri1_padctrl {
	fan_enable_pins: fan-enable-0 {
		gpio-pins {
			pins = "GPIO0_30";
			bias-disable;
			drive-strength = <7>;
			input-disable;
		};
	};
};

&usb31_usb2_phy {
	status = "okay";
};

&usb3_phy {
	orientation-switch;
	status = "okay";

	port {
		usb3_orientation: endpoint {
			remote-endpoint = <&usb_c_ss>;
		};
	};
};

&usb3 {
	dr_mode = "otg";
	usb-role-switch;
	status = "okay";

	port {
		usb3_role: endpoint {
			remote-endpoint = <&usb_c_hs>;
		};
	};
};

&aoi2c1 {
	typec@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&ao_gpio0>;
		interrupts = <28 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_c_irq_pins>;
		vbus-supply = <&reg_usb_c>;

		connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 1000, PDO_FIXED_USB_COMM)>;
			op-sink-microwatt = <1000000>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usb_c_hs: endpoint {
						remote-endpoint = <&usb3_role>;
					};
				};

				port@1 {
					reg = <1>;
					usb_c_ss: endpoint {
						remote-endpoint = <&usb3_orientation>;
					};
				};
			};
		};
	};
};

&aon_padctrl {
	usb_c_irq_pins: usb-c-irq-0 {
		irq-pins {
			pins = "AOGPIO0_28";
			bias-pull-up;
			input-enable;
			input-schmitt-enable;
		};
	};
};
