# SPDX-License-Identifier: GPL-2.0-only

menu "SpacemiT PM Domains"

config SPACEMIT_PM_DOMAINS
	tristate "PM Domain driver for SpacemiT SoC"
	depends on ARCH_SPACEMIT || COMPILE_TEST
	depends on PM && OF
	select PM_GENERIC_DOMAINS
	select PM_GENERIC_DOMAINS_OF
	select AUXILIARY_BUS
	help
	  This driver enables power domain management for the SpacemiT
	  SoC. On the SoC there are number of power domains available,
	  which can be managed independently. For example VPU, GPU, LCD,
	  and Audio reside in their own power domains which can be
	  turned on/off.

	  Say y to enable device power management through PM domains.

endmenu
